*{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #ffeee4;
}

a{
 text-decoration: unset;
}

#hello-section{
  background: url(./media/images/mysandwich-ross.gif);
  background-size: cover;
  min-height: 100vh;
}

.h-90{
  height: 90%;
}

.min-w-350{
  min-width: 350px;
}

.vh-90{
    height: 90vh;
}

.vh-85{
    height: 85vh;
}

.vh-80{
    height: 80vh;
}

.vh-75{
    height: 75vh;
}

.mt-35vh{
  margin-top: 35vh;
}

.fs-7{
  font-size: 0.9rem!important;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-y-auto{
    overflow-y: auto;
}

.btn-primary{
  color: #FFFFFF;
  background-color: #242424;
  border-color: #242424;
  letter-spacing: 1.2px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  filter: brightness(2);
  background-color: #242424;
  border-color: #242424;
}

.color-light{
  color: #FFFFFF;
}

.color1{
  background-color: #05DF30;
  border-color: #05DF30;
}

.color2{
  background-color: #07CEA4;
  border-color: #07CEA4;
}

.color1:hover, .color1:focus, .color1:active{
  background-color: #05B127;
  border-color: #05B127;
}

.color2:hover, .color2:focus, .color2:active{
  background-color: #088E72;
  border-color: #088E72;
}

.enabled{
  display: block!important;
}

.list-item-order{
  text-transform: capitalize;
}

.item{
  transition: 0.2s;
}
.item input{
  display: none;
}

#pickingTable .item{
    border: 1px solid transparent;
    transition: 0.5s;
}

#pickingTable .item:hover{
    border: 1px solid #0f5132;
    transition: 0.5s;
}

#myOrder .item{
   border: 1px solid transparent;
   transition: 0.5s;
  overflow: hidden;
}

#myOrder .item:hover{
    border: 1px solid red;
    transition: 0.5s;
}

#myOrder .item:hover .delete-icon{
    margin-right: 0px;
}

#myOrder .delete-icon {
  fill: red;
  cursor: pointer;
    margin-right: -31px;
    transition: 0.5s;
    width: 30px;
    padding-left: 15px;
    margin-top: -1px;
}

.item.selected{
  background: #0f5132!important;
  color: white;
  transition: 0.2s;
}

.item:active{
  /* background: green!important;
  transition: 0.2s; */
}

.content-order{
  overflow-y: auto;
  height: 55vh;
}

#myOrder {
  position: sticky;
  top: 7vh;
}

#myOrder .container-order{
  min-height: 20vh;
}

input.username {
  color: #fff;
  background: #fff0;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  max-width: 306px;
  padding: 10px;
}


#userName {
    transition: 0.3s;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 4px;
}

#userName:hover {
    border: 2px solid grey;
    border-radius: 10px;
    transition: 0.3s;
}

.footer-cart {
    border-top: 1px solid #00000036;
}

#cart-button{
  position: fixed;
  z-index: 999;
  bottom: 30px;
  right: 30px;
}

.img-item img {
    width: 100px;
    height: auto;
    border-radius: 3px;
}
