*{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #ffeee4;
}

#hello-section{
  background: url(./media/images/tasty-sandwich.jpg);
  background-size: cover;
}

.h-90{
  height: 90%;
}

.vh-90{
    height: 90vh;
}

.vh-85{
    height: 85vh;
}

.vh-80{
    height: 80vh;
}

.vh-75{
    height: 75vh;
}

.mt-35vh{
  margin-top: 35vh;
}

.fs-7{
  font-size: 0.9rem!important;
}

.overflow-x-auto{
    overflow-x: auto;
}

.overflow-y-auto{
    overflow-y: auto;
}

.btn-primary{
  color: #FFFFFF;
  background-color: #242424;
  border-color: #242424;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
  filter: brightness(2);
  background-color: #242424;
  border-color: #242424;
}

.color-light{
  color: #FFFFFF;
}

.color1{
  background-color: #05DF30;
  border-color: #05DF30;
}

.color2{
  background-color: #07CEA4;
  border-color: #07CEA4;
}

.color1:hover, .color1:focus, .color1:active{
  background-color: #05B127;
  border-color: #05B127;
}

.color2:hover, .color2:focus, .color2:active{
  background-color: #088E72;
  border-color: #088E72;
}

.enabled{
  display: block!important;
}

.list-item-order{
  text-transform: capitalize;
}

.item{
  transition: 0.2s;
}
.item input{
  display: none;
}

.item.selected{
  background: #0f5132!important;
  color: white;
  transition: 0.2s;
}

.item:active{
  /* background: green!important;
  transition: 0.2s; */
}

.container-order{
  overflow-y: auto;
}

#myOrder {
  position: sticky;
  top: 7vh;
}

#myOrder .container-order{
  min-height: 20vh;
}

input.username {
  color: #fff;
  background: #fff0;
  border-style: solid;
  border-radius: 6px;
  border-width: 1px;
  min-width: 100px;
  max-width: 100%;
  padding: 10px;
}


#userName {
    transition: 0.3s;
    border-radius: 10px;
    padding: 4px;
}

#userName:hover {
    border: 2px solid grey;
    border-radius: 10px;
    transition: 0.3s;
}
